.section-cities {

    .box {
        img {
            width: 100%;
            height: auto;
            margin-bottom: 15px;
        }

        .city-feature {
            margin-bottom: 15px;

            a {
                color: $orangeColor;
                border-bottom: 1px solid $orangeColor;
                padding-bottom: 1px;
            }
        }
    }
}