.section-steps {
    background: #f4f4f4;

    .step-box {
        margin-top: 30px;

        &:first-child {
            text-align: right;
            padding-right: 3%;
        }

        &:last-child {
            padding-left: 3%;
            margin-top: 70px;
        }

        .app-screen {
            width: 40%;
        }

        .work-step {
            margin-bottom: 50px;

            &:last-of-type {
                margin-bottom: 80px;
            }

            div {
                color: $orangeColor;
                border: 2px solid $orangeColor;
                border-radius: 50%;
                width: 55px;
                height: 55px;
                text-align: center;
                padding: 5px;
                float: left;
                font-size: 150%;
                margin-right: 25px;
            }

            p {
                font-size: 90%;
                line-height: 145%;
            }
        }

        .btn-app {
            img {
                height: 50px;
                width: auto;
                margin-right: 10px;
            }
        }
    }
}