.section-testimonials {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/img/back-customers.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #fff;

    blockquote {
        padding: 2px;
        font-style: italic;
        line-height: 145%;
        margin-top: 40px;
        position: relative;

        &:before {
            content: "\201C";
            display: block;
            font-size: 400%;
            position: absolute;
            top: -10px;
            left: -10px;
        }

        cite {
            font-size: 90%;
            margin-top: 25px;
            display: block;

            img {
                height: 50px;
                margin-right: 10px;
                border-radius: 50%;
            }
        }
    }
}