header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) ,url(/img/hero.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;

    .hero-text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1140px;
        transform: translate(-50%, -50%);
        color: #fff;
    }

    .logo {
        height: 100px;
        width: auto;
        float: left;
        margin-top: 20px;
    }

    .main-nav {
        float: right;
        margin-top: 55px;

        li {
            display: inline-block;
            margin-left: 40px;

            a {
                padding: 8px 0;
                color: #fff;
                text-transform: uppercase;
                font-size: 90%;
                font-weight: 300;

                &:hover {
                    border-bottom: 2px solid $orangeColor;
                }
            }
        }
    }
}