.btn {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 150px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;

    &:hover {
        background-color: $orangeHoverColor;
    }
}

.btn-full {
    background-color: $orangeColor;
    border: 1px solid $orangeColor;
    color: $textColor;
    margin-right: 15px;
}

.btn-ghost {
    background-color: transparent;
    border: 1px solid $orangeColor;
    color: $orangeColor;

    &:hover {
        color: $textColor;
    }
}