* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: $fontStack;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/* ICONS */

.icon-big {
	font-size: 350%;
	display: block;
	color: $orangeColor;
	margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/* PARAGRAPHS */

p {
	font-weight: 300;
}

.box p {
	font-size: 90%;
	line-height: 145%;
}

.long-copy {
	line-height: 145%;
	width: 70%;
	margin-left: 15%;
}

/* ----- HEADINGS ----- */
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;

	&:after {
		display: block;
		height: 2px;
		background-color: #e67e22;
		content: " ";
		width: 100px;
		margin: 0 auto;
		margin-top: 30px;
	}
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

/*LINKS */
a {
	text-decoration: none;
}
